
@{
    ViewBag.Title = "OrdenesRenta";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

@section styles{
    @*  @Styles.Render("~/Content/dataTables")*@
    @Styles.Render("~/Content/summernote")
    @Styles.Render("~/Content/bootstrap-fileinput")
    @Styles.Render("~/Content/bootstrap-modal")

    <link href="~/Content/Plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
}
@section plugins{
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/summernote")
    @Scripts.Render("~/bundles/bootstrap-fileinput")
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAhDGHfnIzRKDiauFPiC0zyt4CL8yM6WtI" type="text/javascript"></script>
    @Scripts.Render("~/bundles/gmaps")

}
@section scripts{
    <script src="~/Scripts/Plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src=@Url.Content("~/Scripts/Components-Plugins/gral_selector_simple_rol.js")></script>
    <script src=@Url.Content("~/Scripts/Components-Plugins/tabla-generica-1.0.8.js")></script>
    <script src=@Url.Content("~/ViewsScripts/MembresiasClientes/MembresiasClientes.1.0.2.js")></script>

}

<div class="m-grid m-grid-demo">
    <div class="m-grid-row">
        <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2">
            <div class="todo-tasklist">
                <div class="todo-tasklist-item todo-tasklist-item-border-green">
                    <img class="todo-userpic pull-left" src="../assets/pages/media/users/avatar4.jpg" width="27px" height="27px">
                    <div class="todo-tasklist-item-title"> Slider Redesign </div>
                    <div class="todo-tasklist-item-text"> Lorem dolor sit amet ipsum dolor sit consectetuer dolore. </div>
                    <div class="todo-tasklist-controls pull-left">
                        <span class="todo-tasklist-date">
                            <i class="fa fa-calendar"></i> Lunes 10 de Abril
                        </span>
                        <span class="todo-tasklist-badge badge badge-roundless">Urgent</span>
                    </div>
                </div>
                <div class="todo-tasklist-item todo-tasklist-item-border-red">
                    <img class="todo-userpic pull-left" src="../assets/pages/media/users/avatar5.jpg" width="27px" height="27px">
                    <div class="todo-tasklist-item-title"> Homepage Alignments to adjust </div>
                    <div class="todo-tasklist-item-text"> Lorem ipsum dolor sit amet, consectetuer dolore dolor sit amet. </div>
                </div>
                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2"></div>
                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2"></div>
                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2"></div>
                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2"></div>
                <div class="m-grid-col m-grid-col-middle m-grid-col-center m-grid-col-md-2"></div>
            </div>
        </div>